/node_modules
/public/hot
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

server/node_modules
server/build
server/npm-debug.log
server/.nyc
server/.DS_Store
